* {
    -fx-font-family: Verdana;
}

.background {
    -fx-background-color: #525d64;
}

.justText{
    -fx-fill: #cecece;
}

.messageLabel {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #d47e6c;
}
.text-field {
    -fx-background-color: #393b40;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #6b8187;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0;
}

.button:hover{
    -fx-background-color: #393b40;
    -fx-text-fill: #cecece;
    -fx-cursor: hand;
}