* {
    -fx-font-family: Verdana;
}

.sidePanel {
    -fx-background-color: #393b40;
}

/* Buttons */
.button {
    -fx-background-color: transparent;
    -fx-text-fill: #cecece;
    -fx-border-color: #cecece;
    -fx-border-width: 0 0 2px 0;
    -fx-background-radius: 0;
}
.button:hover {
    -fx-background-color: #525d64;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-cursor: hand;
}

/* Labels */
.label {
    -fx-text-fill: #cecece;
}